#header {
    background-color: green;
}

.form {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

#footer {
    background-color: lightpink;
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 360px) {
    #header {
      background-color: yellow;
    }
    .container{
        grid-template-columns: 1fr;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: lightblue;
    }
    .form{
        padding-top: 50px;
        padding-bottom: 50px;
    }

  }